{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true
  },
  "plugins": ["jest"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  }
}
